.base-button {
  @include button-reset;
  padding: 12px 16px;
  @include font('600 13px/1.2');
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition-default;


  &_variant_primary {
    background-color: $color-primary;
    color: $color-surface;
    border-radius: 8px;

    &:hover {
      background-color: darken($color-primary, 10%);

    }

    &:active {
      background-color: lighten($color-primary, 10%);

    }
  }

  &_variant_secondary {
    color: $color-font;
    border-radius: 8px;

    &:hover {
      background-color: lighten($color-gray-light, 10%);
    }

    &:active {
      background-color: lighten($color-gray-light, 5%);
    }
  }
}
