.main-todo-controls {

  @media (min-width: $breakpoint-tablet-portrait) {
    display: flex;
    gap: 5px;
  }

  &__button {
    width: 100%;
    margin-bottom: 8px;

    @media (min-width: $breakpoint-tablet-portrait) {
      padding: 8px 12px;
      margin-bottom: 0;
      width: auto;
    }
  }
}
