body {
  font-family: $font-primary;
  @include font('400 16px/1.2');
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($color-gray-light, 10%);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($color-gray-light, 5%);
}
