/**
 * [EN]
 * Gets the calc expression for given count of columns / total.
 *
 * [RU]
 * Получает выражение calc для переданного числа колонок / всего колонок.
 *
 * @param      {string}     $columns  - Needed columns count [ / total columns count].
 * @param      {Bool}       $gutter   - The gutter. When set to true (default), substracts (grid-gap/2) from end value.
 *
 * @return     {String}     Calc expression for given columns count and gutter.
 */
@use 'sass:math';

@function column($expression, $gutter: $--layout-gutter) {
	// Defaults
	$total-columns: $layout-columns;
	// Clean up
	$expression: str-replace(str-replace(inspect($expression), '"', ''), "'", '');

	$expression-parts: explode($expression, '/');
	$needed-columns: to-number(nth($expression-parts, 1));

	@if (length($expression-parts) == 2) {
		$total-columns: to-number(nth($expression-parts, 2));
	}

	$percent: math.div($total-columns, $needed-columns);

	@if $gutter {
		@return calc(100% / #{$percent} - (#{$gutter} * (#{$total-columns} - #{$needed-columns} ) / #{$total-columns}));
	} @else {
		@return #{math.div(100, $percent) + '%'};
	}
}
