.base-input {
  @include input-reset;

  border: 1px solid $color-gray-light;
  border-radius: 8px;
  min-height: 40px;
  padding: 12px;

  color: $color-font;
  @include font('400 14px/1.2');

  transition: $transition-default;

  &::placeholder {
    color: $color-gray;
    @include font('400 14px/1.2');
  }
}
